In [1]:
import pandas as pd

In [7]:
dictionary = {'Autores' : ['Rick Riordan', 'J.K. Rowling', 'Machado de Assis'],
             'Titulos' : ['O ladrão de Raios', 'Harry Potter e a Pedra Filosofal', 'Memórias Postumas de Brás Cubas'],
             'Preços' : [41.2, 59.9, 18.5]}

In [9]:
df = pd.DataFrame(dictionary)

In [10]:
df

            Autores                           Titulos  Preços
0      Rick Riordan                 O ladrão de Raios    41.2
1      J.K. Rowling  Harry Potter e a Pedra Filosofal    59.9
2  Machado de Assis   Memórias Postumas de Brás Cubas    18.5

In [11]:
df['Autores']

0        Rick Riordan
1        J.K. Rowling
2    Machado de Assis
Name: Autores, dtype: object

In [14]:
df['Autores'][1]

'J.K. Rowling'

In [18]:
df['Preços']

0    41.2
1    59.9
2    18.5
Name: Preços, dtype: float64

In [19]:
df['Preços'].mean()

39.86666666666667

In [22]:
mascara = (df['Autores'] == 'J.K. Rowling')

In [23]:
df[mascara]

        Autores                           Titulos  Preços
1  J.K. Rowling  Harry Potter e a Pedra Filosofal    59.9

In [35]:
##Novo Registro
livro_hp2 = {'Autores' : 'J. K. Rowling', 'Titulos' : 'Harry Potter e a Câmara Secreta', 'Preços' : 59.9}

In [42]:
##Adicionar a nova linha ao DataFrame existente usando concat

df = pd.concat([df, pd.DataFrame([livro_hp2])], ignore_index = True)

In [46]:
df

            Autores                           Titulos  Preços
0      Rick Riordan                 O ladrão de Raios    41.2
1      J.K. Rowling  Harry Potter e a Pedra Filosofal    59.9
2  Machado de Assis   Memórias Postumas de Brás Cubas    18.5
3     J. K. Rowling   Harry Potter e a Câmara Secreta    59.9
4     J. K. Rowling   Harry Potter e a Câmara Secreta    59.9
5     J. K. Rowling   Harry Potter e a Câmara Secreta    59.9

In [47]:
print(df)

            Autores                           Titulos  Preços
0      Rick Riordan                 O ladrão de Raios    41.2
1      J.K. Rowling  Harry Potter e a Pedra Filosofal    59.9
2  Machado de Assis   Memórias Postumas de Brás Cubas    18.5
3     J. K. Rowling   Harry Potter e a Câmara Secreta    59.9
4     J. K. Rowling   Harry Potter e a Câmara Secreta    59.9
5     J. K. Rowling   Harry Potter e a Câmara Secreta    59.9

In [48]:
## Remover o índice

df = df.drop(index = 5)

In [49]:
df = df.drop(index= 4)

In [50]:
df

            Autores                           Titulos  Preços
0      Rick Riordan                 O ladrão de Raios    41.2
1      J.K. Rowling  Harry Potter e a Pedra Filosofal    59.9
2  Machado de Assis   Memórias Postumas de Brás Cubas    18.5
3     J. K. Rowling   Harry Potter e a Câmara Secreta    59.9