In [2]:
import pandas as pd

In [3]:
cotacoes = pd.read_excel("C:/Users/gabriel.pereira/Documents/Gabriel/SANTANDER CODERS/Introdução a Data Science/Analisando Dados/dados_cotacoes.xlsx")

In [4]:
cotacoes.head()

,data,cod_empresa,id_cotacao,empresa,cotacao,cod_cliente,cod_vendedor,valor_unitario,valor_produtos,desconto,...,descricao_produto,obse,peso_total,qte_total,usuario,perdidos,abertos,motivo_perda,clibtipo,clibtdoc
0,2024-05-20,6,63069473,006 - RN - VG2,3069473,78040,1001,158900000.0,3.178000e+14,0.0,...,"ESMALTE SECA RAPIDO BRIL.BRANCO NEVE 3,6LT-SUV...",NaN,1.011000e+10,8000000.0,1001,NaN,63069473.0,NaN,12,
1,2024-05-20,6,63069473,006 - RN - VG2,3069473,78040,1001,16000000.0,1.600000e+13,0.0,...,ROLO LA BAIXA BRASILEIRINHO 23CM AT2014-ATLAS ...,NaN,1.011000e+10,8000000.0,1001,NaN,63069473.0,NaN,12,
2,2024-05-20,6,63069473,006 - RN - VG2,3069473,78040,1001,16430000.0,1.643000e+13,0.0,...,CABO P/ ROLO LA 23CM 400/23SR - ATLAS ...,NaN,1.011000e+10,8000000.0,1001,NaN,63069473.0,NaN,12,
3,2024-05-20,6,63069473,006 - RN - VG2,3069473,78040,1001,10410000.0,1.041000e+13,0.0,...,"TRINCHA 2"" 395/5 - ATLAS ...",NaN,1.011000e+10,8000000.0,1001,NaN,63069473.0,NaN,12,
4,2024-05-20,6,63069473,006 - RN - VG2,3069473,78040,1001,1740000.0,5.220000e+12,0.0,...,LIXA MASSA/MADEIRA G-150 (A257) - NORTON ...,NaN,1.011000e+10,8000000.0,1001,NaN,63069473.0,NaN,12,

In [5]:
soma_valor = cotacoes.groupby('abertos')['valor_produtos'].sum().reset_index()

In [8]:
soma_valor.columns = ['abertos', 'soma_valor_produtos']

In [9]:
print(soma_valor)

           abertos  soma_valor_produtos
0     1.303287e+07         2.698000e+14
1     1.303319e+07         6.971520e+15
2     1.303386e+07         3.436290e+15
3     1.303417e+07         2.898000e+14
4     1.303424e+07         1.383700e+15
...            ...                  ...
2124  1.003084e+09         3.338978e+16
2125  1.003084e+09         1.410704e+16
2126  1.003085e+09         1.523548e+16
2127  1.003085e+09         1.961214e+16
2128  1.003101e+09         3.792530e+15

[2129 rows x 2 columns]

In [11]:
total = soma_valor['soma_valor_produtos'].sum()

In [13]:
print(f'soma_valor: {total}')

soma_valor: 5.155509478e+18